.gallary
  color: #fff
  font-weight: bold
  overflow: hidden
  +clearfix
  p
    margin: 0
  div
    float:  left
  .gallary-1
    // background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url('../images/1.jpg')
    width: 50%
    height: 500px
    background: url("../images/1.jpg") 0px 0px / cover no-repeat scroll rgba(0, 0, 0, 0)
  .gallary-2
    // background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url('../images/2.jpg')
    width: 50%
    height: 250px
    background: url("../images/2.jpg") 0px 0px / cover no-repeat scroll rgba(0, 0, 0, 0)
  .gallary-3
    // background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url('../images/3.jpg')
    width: 25%
    height: 250px
    background: url("../images/3.jpg") 0px 0px / cover no-repeat scroll rgba(0, 0, 0, 0)
  .gallary-4
    // background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url('../images/4.jpg')
    width: 25%
    height: 250px
    background: url("../images/4.jpg") 0px 0px / cover no-repeat scroll rgba(0, 0, 0, 0)