@media only screen and (max-width: 830px) 
  .main-footer
    height: 250px
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    background: #eee
    .contact
      .fa
        font-size: 20px
        padding: 15px
        margin: 2px
    span 
      margin: 10px
  .address
    span
      font-size: 12px
  .copyright
    text-align: center
    background: #eee