footer
  div.main-footer
    h4.footer-logo Study in Russia
    .footer-col.address
      i.fa.fa-map-pin
        span Tambov, Tambov Oblast, Russia
    
    .footer-col
      i.fa.fa-clock-o
        span 24-Hours 
    
    .footer-col.contact
      i.fa.fa-whatsapp
      i.fa.fa-facebook
      i.fa.fa-vk
      i.fa.fa-mobile
  div.copyright
    p &copy; All Right Reserved 2017