- var lorem = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid "

section.wrap
  .gallary
    div.gallary-1
      div.w
      p 
        a(href="#").hvr-bounce-to-left إقامه الطلبه
    div.gallary-2
      div.w
      p 
        a(href="#").hvr-bounce-to-right مميزات روسيا
    div.gallary-3
      div.w
      p 
        a(href="#").hvr-bounce-to-bottom اسعار روسيا
    div.gallary-4
      div.w
      p 
        a(href="#").hvr-bounce-to-bottom نرنيب الجامعات
