header.site-header
    //- include 'includes/nav.pug' 
    include nav2         
    .call-to-action#home
      //- .holdit
      .main
        h2 حقق حلمك
        p
          | نوفر قبولات جامعيه للتخصصات الهندسيه و الطبيه  في اولى الجامعات الروسيه واعرقها على مستوى العالم بتكلفه تبداء بـ 2000$ سنوياً وبدون التقيد بشرط معدل الثانويه العامه او المجموع

        button.call-to-action-button.hvr-shutter-in-horizontal
          | اعرف أكتر