header.site-header
    //- include 'includes/nav.pug' 
    include nav2         
    .call-to-action#home
      //- .holdit
      .main
        h2 حقق حلمك
        p
          | نوفر قبولات جامعيه للتخصصات الطبيه (طب عام - طب اسنان - صيدله - تمريض ) في اولى الجامعات الروسيه واعرقها على مستوى العالم بتكلفه تبداء بـ 2000$ سنوياً وبدون التقيد بشرط معدل الثانويه العامه (المجموع) او سنه الحصول على الثانويه. 
        button.call-to-action-button اعرف أكتر
