header.site-header
  .container
    .header
      .logo
        h3 
          a(href="#") الدراسه في روسيا
      .nav-header
        include includes/footer
        nav(dir='rtl')
          ul
            li 
              a(href="#") الرئيسيه
            li 
              a(href="#") عنا
            li 
              a(href="#") الخدمات
            li 
              a(href="#") الاتصال
    .call-to-action
      .holdit
      .main
        h2 حقق حلمك
        p
          | نوفر قبولات جامعيه للتخصصات الطبيه (طب عام - طب اسنان - صيدله - تمريض ) في اولى الجامعات الروسيه واعرقها على مستوى العالم بتكلفه تبداء بـ 2000$ سنوياً وبدون التقيد بشرط معدل الثانويه العامه (المجموع) او سنه الحصول على الثانويه. 
        button.call-to-action-button اعرف أكتر
