.header
  .logo
    h3 
    a(href="#") الدراسه في روسيا
    
    .nav-header
      nav(dir='rtl')
        ul
          li 
          a(href="#home") الرئيسيه
          li 
          a(href="/apply") التقديم
          li 
          a(href="#services") الخدمات
          li 
          a(href="#contact") اتصل بنا
          