.wrap
  #menu-icon
    span.first
    span.second
    span.third
  .logo
    a(href='#' ,dir='rtl') الدراسه في روسيا
  nav(dir='rtl')
    ul.nav-list
      li.nav-list-item
        a(href="#home") الرئيسيه
      li.nav-list-item
        a(href="/apply") التقديم
      li.nav-list-item
        a(href="#services") الخدمات
      li.nav-list-item
        a(href="#contact") اتصل بنا