-var buttonText = "المزيد"
.services
    .services-col
      h3 الفيزا إلى روسيا
      p
        | نقدم لكم خدمتنا للحصول على جميع انواع تأشيرات الدخول الى روسيا ومنها (تأشيرات سياحيه -تأشيرات بيزنس -ـاشيرات عمل) بأقل التكاليف
      button #{buttonText}

    .services-col
      h3 الدراسه فى روسيا
      p
        | نوفر لكم ضمان القبول الجامعي و الدعوه الدراسيه في اعرق الجامعات الروسيه لجميع التخصصات  وخلال وقت قياسي و بأقل التكاليف 
      button #{buttonText}
    .services-col
      h3 الإقامه المؤته و الدائمه
      p
        | نوفر خدمه الحصول على الاقامه المؤقته والدائمه و كذلك الجنسيه الروسيه خلال وقت قياسي وبأسعار ذهيده 
      button #{buttonText}